  <!-- <div class="col-sm-8" style="border: solid 1px;">
    </div>  -->
    <div class="col-sm-4" id="col-sm-4-id" style="background-color: white;">
<!-- <p class="text-reight"> .col-sm-4<p> -->
    <p class="text-right" style="padding-top: 10px;">Супи<p>
        <p class="text-right">Основни ястия<p>

            <p class="text-right">Десерти<p>
                <p class="text-right">Аламинути<p>
                    <p class="text-right">Сандвичи<p>
                        <p class="text-right">Напитки<p>
    </div>



 